<p id="notice"><%= notice %></p>

<h1>Liner Items</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liner_items.each do |liner_item| %>
      <tr>
        <td><%= liner_item.product %></td>
        <td><%= liner_item.cart %></td>
        <td><%= link_to 'Show', liner_item %></td>
        <td><%= link_to 'Edit', edit_liner_item_path(liner_item) %></td>
        <td><%= link_to 'Destroy', liner_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liner Item', new_liner_item_path %>
